{% extends 'base.html' %}

{% block content %}
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css') }}">
	<h1>{% block title %} ¡Descubre dónde te esperan! {% endblock %}</h1>
	<div class="main-buttons">
		<div class="column">
			<a href="#">
				<div class="button">
					<img alt="Icono de unos selectores" src="{{ url_for('static', filename= 'images/slider.png') }}"/>
				</div>
				<span>Lugar solo para mí</span>
			</a>
		</div>
		<div class="column">
			<a href="#">
				<div class="button">
					<img alt="Icono de una lupa" src="{{ url_for('static', filename= 'images/search.png') }}"/>
				</div>
				<span>Lugar parecido a otro</span>
			</a>
		</div>
		<div class="column">
			<a href="{{ domain }}/random-municipality">
				<div class="button">
					<img alt="Icono de bola del mundo saliendo de una caja de cartón abierta" src="{{ url_for('static', filename= 'images/surprise.png') }}"/>
				</div>
				<span>Lugar sorpresa</span>
			</a>
		</div>
	</div>
{% endblock %}