{% extends 'base.html' %}

{% block content %}
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/municipality.css') }}">
	<div id="bg"></div>
	<div id="bg-layer"></div>
	<div class="container">
	
	<main id="main">
		<h1>¡Te esperan en {{ municipio_nombre_humano }}!</h1>
		<h3 class="province">{{ provincia }}</h3>
		<article>
			<div class="first-column">
				<section class="intro">
					<p class="intro">{{ text }}</p>
					<a class="google" href="https://www.google.es/search?q={{ municipio_nombre_humano }}, {{ provincia }}" target="_blank">Buscar en Google</a>
					<a class="wikipedia" href="{{ url }}" target="_blank">Ver más en Wikipedia</a>
				</section>
				<section class="tags">
					{% if sitios_comercio != 0 %}
					    <span class="tag-1">Comercios</span>
					{% endif %}

					{% if sitios_turismo != 0 %}
					    <span class="tag-2">Turismo</span>
					{% endif %}
					
					{% if sitios_alojamiento != 0 %}
					    <span class="tag-3">Alojamientos</span>
					{% endif %}

					{% if sitios_ocio != 0 %}
					    <span class="tag-4">Ocio</span>
					{% endif %}

					{% if sitios_natural != 0 %}
					    <span class="tag-5">Naturaleza</span>
					{% endif %}

					{% if sitios_servicio != 0 %}
					    <span class="tag-6">Servicios</span>
					{% endif %}
					
					{% if sitios_actividad != 0 %}
					    <span class="tag-7">Actividades</span>
					{% endif %}

					{% if sitios_entretenimiento != 0 %}
					    <span class="tag-8">Entretenimiento</span>
					{% endif %}

					{% if sitios_catering != 0 %}
					    <span class="tag-9">Hostelería</span>
					{% endif %}

					{% if sitios_sport != 0 %}
					    <span class="tag-10">Deporte</span>
					{% endif %}	

					{% if sitios_edificio != 0 %}
					    <span class="tag-11">Edificios</span>
					{% endif %}		

					{% if sitios_acceso_limitado != 0 or sitios_sin_acceso != 0 %}
					    <span class="tag-13">Propiedades privadas</span>
					{% endif %}					
					
					{% if sitios_acceso != 0 %}
					    <span class="tag-12">Sitios públicos</span>
					{% endif %}					
					
					{% if sitios_artificial != 0 %}
					    <span class="tag-14">Construcciones</span>
					{% endif %}

					{% if sitios_patrimonio != 0 %}
					    <span class="tag-15">Patrimonio</span>
					{% endif %}

					{% if sitios_carretera != 0 %}
					    <span class="tag-16">Vías de transporte</span>
					{% endif %}

					{% if sitios_cuota != 0 %}
					    <span class="tag-17">Sitios para socios</span>
					{% endif %}	

					{% if sitios_comodidad != 0 %}
					    <span class="tag-18">Comodidades</span>
					{% endif %}
					
					{% if linea_costa_provincia == 1 or linea_costa_provincia == 2 %}
					    <span class="tag-19">Cerca de la costa</span>
					{% endif %}

					{% if linea_montana_provincia == 1 or linea_montana_provincia == 2 %}
					    <span class="tag-20">Cerca de la montaña</span>
					{% endif %}					
					
				</section>
				<section class="suggested">
					<span class="question">¿Qué te parece?</span><br/>
					<div class="answers">
						<a href="#">🤩 &nbsp;¡Me gusta!</a>
						<a href="#">👎 &nbsp;Meh, no es para mí</a>
					</div>
					<div class="suggestions">
						<span>A gente como tú le gustó...</span><br/>
						<a href="#">Municipio sugerido, Provincia</a>
					</div>
				</section>
				<section class="map">
					<div id="static-map">
						<div style="overflow:hidden;resize:none;max-width:100%;width:100%;height:100%;"><div id="gmapcanvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q={{lat}},{{lon}}&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&zoom=9&maptype=satellite"></iframe></div><style>#gmapcanvas img{max-height:none;max-width:none!important;background:none!important;}</style></div>
					</div>
					<div id="streetview">
						<div style="overflow:hidden;resize:none;max-width:100%;width:100%;height:100%;"><div id="gmapcanvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/streetview?location={{lat}},{{lon}}&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><style>#gmapcanvas img{max-height:none;max-width:none!important;background:none!important;}</style></div>
					</div>
				</section>
			</div>
			<div class="second-column">
				<div id="features-grid">
					{% if num_casas_venta != "-" or num_casas_alquiler != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de una casa" src="{{ url_for('static', filename= 'images/house.png') }}"/>
							<p>
								{% if num_casas_venta != "-" %}
								<span>{{ num_casas_venta }} casas en venta</span><br/>
								{% endif %}
								{% if num_casas_alquiler != "-" %}
								<span>{{ num_casas_alquiler }} casas en alquiler</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if num_centros_salud != "-" or num_centros_urgencias != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un fonendoscopio" src="{{ url_for('static', filename= 'images/clinic.png') }}"/>
							<p>
								<span>{{ num_centros_salud }} centros de salud</span><br/>
								{% if num_centros_urgencias != 0 %}
								<span>{{ num_centros_urgencias }} centros de urgencias</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if num_hospitales != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un hospital" src="{{ url_for('static', filename= 'images/hospital.png') }}"/>
							<p>
								<span>{{ num_hospitales }} hospitales</span>
							</p>
						</div>
					</div>
					{% endif %}
					{% if num_colegios != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un fonendoscopio" src="{{ url_for('static', filename= 'images/school.png') }}"/>
							<p>
								<span>{{ num_colegios }} colegios</span>
							</p>
						</div>
					</div>
					{% endif %}
					{% if num_universidades != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de una universidad" src="{{ url_for('static', filename= 'images/university.png') }}"/>
							<p>
								<span>{{ num_universidades }} universidades</span>
							</p>
						</div>
					</div>
					{% endif %}
					{% if altitud != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de una flecha hacia arriba" src="{{ url_for('static', filename= 'images/up.png') }}"/>
							<p>
								<span>{{ altitud }} metros de altitud</span>
							</p>
						</div>
					</div>
					{% endif %}
					{% if precio_m2_venta != "-" or precio_m2_alquiler != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de una casa con el símbolo del dólar" src="{{ url_for('static', filename= 'images/house-price.png') }}"/>
							<p>
								{% if precio_m2_venta != "-" %}
								<span>{{ precio_m2_venta }} €/m² medio de venta</span><br/>
								{% endif %}
								{% if precio_m2_alquiler != "-" %}
								<span>{{ precio_m2_alquiler }} €/m² medio de alquiler</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if poblacion != "-" or densidad_poblacion != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de gente" src="{{ url_for('static', filename= 'images/people.png') }}"/>
							<p>
								<span>{{ poblacion }} habitantes</span><br/>
								<span>({{ densidad_poblacion }} hab./km²)</span><br/>
								<span>(media nacional: 94 hab./km²)</span>
							</p>
						</div>
					</div>
					{% endif %}
					{% if precio_medio_venta_provincia != "-" or precio_medio_alquiler_provincia != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de una ciudad" src="{{ url_for('static', filename= 'images/city.png') }}"/>
							<p>
								{% if precio_medio_venta_provincia != "-" %}
								<span>Comprar una casa en la provincia cuesta de media {{ precio_medio_venta_provincia }} €</span><br/>
								{% endif %}
								{% if precio_medio_alquiler_provincia != "-" %}
								<span>Alquilar una casa en la provincia cuesta de media {{ precio_medio_alquiler_provincia }} €/mes</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if feb_avg_temp != "-" or jul_avg_temp != "-" or feb_avg_rain != "-" or jul_avg_rain != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de una nube y un sol" src="{{ url_for('static', filename= 'images/weather.png') }}"/>
							<p>
								{% if feb_avg_temp != "-" and feb_avg_rain != "-" %}
								<span>En febrero, {{ feb_avg_temp }}ºC con {{ feb_avg_rain }} mm/día lluvia de media</span><br/>
								{% endif %}
								{% if jul_avg_temp != "-" and jul_avg_rain != "-" %}
								<span>En julio, {{ jul_avg_temp }}ºC con {{ jul_avg_rain }} mm/día de lluvia de media</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if feb_avg_min_temp != "-" or feb_avg_max_temp != "-" or jul_avg_min_temp != "-" or jul_avg_max_temp != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un termómetro" src="{{ url_for('static', filename= 'images/temperature.png') }}"/>
							<p>
								{% if feb_avg_min_temp != "-" and feb_avg_max_temp != "-" %}
								<span>En febrero, la temperatura va de {{ feb_avg_min_temp }}ºC a {{ feb_avg_max_temp }}ºC de media</span><br/>
								{% endif %}
								{% if jul_avg_min_temp != "-" and jul_avg_max_temp != "-" %}
								<span>En julio, la temperatura va de {{ jul_avg_min_temp }}ºC a {{ jul_avg_max_temp }}ºC de media</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if renta_bruta_media != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de una hucha" src="{{ url_for('static', filename= 'images/savings.png') }}"/>
							<p>
								<span>{{ renta_bruta_media }} € de renta bruta media anual</span><br/>
							</p>
						</div>
					</div>
					{% endif %}
					{% if kms_capital_provincia != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un coche" src="{{ url_for('static', filename= 'images/car.png') }}"/>
							<p>
								{% if kms_capital_provincia != 0 %}
								<span>A {{ kms_capital_provincia }} km. de la capital de provincia</span>
								{% endif %}
								{% if kms_capital_provincia == 0 %}
								<span>Es capital de provincia</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if num_empleos_provincia != "-" or tasa_paro_provincia != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un maletín" src="{{ url_for('static', filename= 'images/jobs.png') }}"/>
							<p>
								{% if num_empleos_provincia != "-" or tasa_paro_provincia != "-" %}
								<span>{{ num_empleos_provincia }} ofertas de empleo en la provincia</span><br/>
								<span>{{ tasa_paro_provincia }} % de paro en la provincia<br/> (media nacional: 12.6 %)</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
					{% if feb_avg_sunshine_hours != "-" or jul_avg_sunshine_hours != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un sol" src="{{ url_for('static', filename= 'images/sun.png') }}"/>
							<p>
								<span>{{ feb_avg_sunshine_hours }} horas de sol en febrero de media</span><br/>
								<span>{{ jul_avg_sunshine_hours }} horas de sol en julio de media</span>
							</p>
						</div>
					</div>
					{% endif %}
					{% if cobertura_30 != "-" or cobertura_100 != "-" or cobertura_3g != "-" or cobertura_4g != "-" %}
					<div class="feature">
						<div class="feature-icon">
							<img alt="Icono de un maletín" src="{{ url_for('static', filename= 'images/internet.png') }}"/>
							<p>
								{% if cobertura_30 != "-" %}
								<span>Fibra óptica de hasta 30 MB en el {{ cobertura_30 }} % del territorio</span><br/>
								{% endif %}
								{% if cobertura_100 != "-" %}
								<span>Fibra óptica de hasta 100 MB en el {{ cobertura_100 }} % del territorio</span><br/>
								{% endif %}
								{% if cobertura_3g != "-" %}
								<span>Cobertura móvil 3G en el {{ cobertura_3g }} % del territorio</span><br/>
								{% endif %}
								{% if cobertura_4g != "-" %}
								<span>Cobertura móvil 4G en el {{ cobertura_4g }} % del territorio</span>
								{% endif %}
							</p>
						</div>
					</div>
					{% endif %}
				</div>
				<section class="photos">
					<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
					  </ol>
					  <div class="carousel-inner">
					  </div>
					  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Anterior fotografía</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Siguiente fotografía</span>
					  </a>
					</div>
				</section>
			</div>
		</article>
	</main>
	</div>
	<script type="text/javascript">
		var municipality = JSON.parse('{{ municipality_info|safe }}');
		$(document).ready(function(){
			var mainHeight = $('#main').height() + 110;
			var bodyWidth = $('body').width()
			$('#bg').css('background-image', 'url(' + municipality.data.images[0] + ')');
			$('#bg', this).width(bodyWidth + 15);
			$('#bg', this).height(mainHeight + 15);
			$('#bg-layer', this).height(mainHeight);
			
		    $(window).resize(function() {
			    var mainHeight = $('#main').height() + 110;
				var bodyWidth = $('body').width()
				$('#bg').css('background-image', 'url(' + municipality.data.images[0] + ')');
				$('#bg', this).width(bodyWidth + 15);
				$('#bg', this).height(mainHeight + 15);
				$('#bg-layer', this).height(mainHeight);
			});
		});
		for (let i in municipality["data"]["images"]) {
			var indicator = "";
			var photo = "";
			if (i == 0) {
				indicator = "<li data-target='#carouselIndicators' data-slide-to=" + i + " class='active'></li>";
				photo = "<div class='carousel-item active'><img class='d-block w-100' src='" + municipality["data"]["images"][i] + "' alt='Imagen de Wikipedia de {{ municipio_nombre_humano }}'></div>";
			} else {
				indicator = "<li data-target='#carouselIndicators' data-slide-to=" + i + "></li>";
				photo = "<div class='carousel-item'><img class='d-block w-100' src='" + municipality["data"]["images"][i] + "' alt='Imagen de Wikipedia de {{ municipio_nombre_humano }}'></div>";
			}

			$('.photos ol.carousel-indicators').append(indicator);
			$('.photos div.carousel-inner').append(photo);
			console.log(municipality["data"]["images"][i]);
		}
	</script>

{% endblock %}