{% extends 'base.html' %}

{% block content %}
	<input type="hidden" value="{% block description %}Descubre los mejores sitios de España según tus gustos, los que más se parecen a otros lugares que te encantan, o déjate sorprender. Descubre dónde te esperan.{% endblock %}" />
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/similar.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/municipalities.js') }}"></script>
	{% if images|length == 0 %}
	<div id="bg" style="background-image: url({{ url_for('static', filename='images/backgrounds') }}/{{ fallback_background_img }})"></div>
	{% endif %}
	<div id="bg-layer"></div>
	<div class="container">
		<main id="main">
			<h1 class="title loading-title">{% block title %} ¡Descubre lugares parecidos a otros que te encantan! {% endblock %}</h1>
			<div class="search">
				<input type="text" id="municipality" placeholder="Escribe aquí el sitio que te gusta...">
			</div>
			<h2 class="loading-subtitle">Recorriendo España de árbol en árbol...</h2>
			<img class="loading" alt="Ardilla pensando en una brújula" src="{{ url_for('static', filename='images/calculating.gif') }}" />
		</main>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			setTimeout(function() {
  				var screenHeight = $(window).height();
				var bodyWidth = $('body').width();
				$('#bg').css({width: (bodyWidth + 15)});
				$('#bg').css({height: (screenHeight)});
				$('#bg-layer').css({height: (screenHeight)});
			}, 10);
						
		    $(window).resize(function() {
			    var screenHeight = $(window).height();
				var bodyWidth = $('body').width();
				$('#bg').css({width: (bodyWidth + 15)});
				$('#bg').css({height: (screenHeight)});
				$('#bg-layer').css({height: (screenHeight)});
			});

		    $('#municipality').autocomplete({
		        source: municipalitiesNames,
		        select: function (e, value) {
		        	selectedIndex = municipalitiesNames.indexOf(value["item"]["label"]);
		        	selectedCode = municipalitiesCodes[selectedIndex];
		        	$('#municipality').attr('disabled', 'disabled');
		        	$('h1.loading-title').html("Buscando la mejor recomendación...")
		        	$('h2.loading-subtitle').slideDown();
		        	$('img.loading').css('display', 'block');
		        	$('img.loading').slideDown();
		        	$.ajax({
						url: ("{{ domain }}/recomendar/" + selectedCode),
						method: "GET"
					})
					.then(function(result) {
						path = result["data"]["url"];
						url = "{{ domain }}" + path;
						location.href = url;
					});	
			    }
		    });

		});
	</script>
{% endblock %}