{% extends 'base.html' %}

{% block content %}
	<input type="hidden" value="{% block description %}Descubre los mejores sitios de España según tus gustos, los que más se parecen a otros lugares que te encantan, o déjate sorprender. Descubre dónde te esperan.{% endblock %}" />
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/error.css') }}">
	{% if images|length == 0 %}
	<div id="bg" style="background-image: url({{ url_for('static', filename='images/backgrounds') }}/{{ fallback_background_img }})"></div>
	{% endif %}
	<div id="bg-layer"></div>
	<div class="container">
		<main id="main">
			<input type="hidden" value="{% block title %} Muy pronto disponible {% endblock %}">
			<h1>Muy pronto disponible</h1>
		</main>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			setTimeout(function() {
  				var screenHeight = $(window).height() + 200;
				var bodyWidth = $('body').width();
				$('#bg').css({width: (bodyWidth + 15)});
				$('#bg').css({height: (screenHeight)});
				$('#bg-layer').css({height: (screenHeight)});
			}, 10);
						
		    $(window).resize(function() {
			    var screenHeight = $(window).height() + 200;
				var bodyWidth = $('body').width();
				$('#bg').css({width: (bodyWidth + 15)});
				$('#bg').css({height: (screenHeight)});
				$('#bg-layer').css({height: (screenHeight)});
			});
		});
	</script>
{% endblock %}